h1{
    color: red;
}
h2{
    color: red;
    font-style: italic;
}
.list{
   line-height: 50px;
   color: brown;
}
.lt{
  text-decoration: line-through;
  font-weight: bold;
  

}
.bg{
background-color: yellow;
font-weight: bold;
}
.ul{
    text-decoration: underline;
    font-style: italic;
}
.con{
    font-style: italic;
    color: tomato;
}
.con2{
    letter-spacing: 10px;
    color: brown;
}
.br{
    color: brown;
}
a{
    text-decoration: none;
    background-color: yellow ;
    font-style: italic;
    color: brown;
}